SQL_SA_PASSWORD=ChangeThis_OnlyForLocal123!
RABBITMQ_USER=orderflow
RABBITMQ_PASSWORD=ChangeThis_OnlyForLocal123!
Jwt__Key=Use-a-random-32-plus-character-development-secret
RabbitMq__Uri=amqp://orderflow:ChangeThis_OnlyForLocal123!@rabbitmq:5672/
DemoSeed__Enabled=true
